<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Marlink Suite" verbose="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <listener class-name="com.marlink.automation.utils.ScreenshotListener"/>
    </listeners>

    <!--<test name="Marlink">
        <classes>
            <class name="com.marlink.automation.testcases.ProductTest"/>
        </classes>
    </test>-->

    <test name="Marlink">
       <packages>
           <package name="com.marlink.automation.testcases"/>
       </packages>
   </test>

</suite>